<!DOCTYPE html>
<html>
<head>
	<title>Emojimind</title>
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div id="emojimind">
		<header>
			<template v-if="!code.length">
				<h1>Welcome to Emojimind</h1>
				<p>Can you break the secret code?</p>
				<p>
					{{symbols.length}} symbols. 
					{{codeLength}} characters. 
					{{maxGuesses}} guesses. 
					{{totalPossibilities}} posibilities.
				</p>
			</template>
			<template v-else>
				<h1>Emojimind</h1>
				<p>After each guess you'll receive up to four hints:</p>
				<p style="margin-left: 1em">
					(X) = correct symbol and position<br>
					(O) = correct symbol but wrong position
				</p>
			</template>
		</header>

		<p><button @click="newGame" v-cloak>{{buttonLabel}}</button></p>

		<template v-if="code.length">
			<select-guess v-if="showCode" :guess="code" :symbols="symbols"></select-guess>
			<p v-else class="CodeDisplay">
				<span v-for="(symbol, index) in code" :key="index">?</span>
			</p>
		</template>

		<form v-for="(row, index) in guesses" class="Row" @submit="tryGuess(index, $event)">
			<select-guess class="Row-guess" :guess="row.guess" :symbols="symbols" :disabled="row.pins.blacks || row.pins.whites"></select-guess>
			<p v-show="row.pins" v-cloak class="Row-action">
				<button type="submit" :class="{correct: row.pins.blacks === 4, wrong: row.pins.blacks < 4}">
					Guess {{index + 1}}
				</button>
			</p>
			<div v-cloak class="Row-pins">
				<div><span v-for="n in row.pins.blacks">(X)</span></div>
				<div><span v-for="n in row.pins.whites">(O)</span></div>
			</div>
		</form>

		<template v-if="code.length">
			<p>
				<small>
					<input type="checkbox" id="checkbox" v-model="showCode">
					<label for="checkbox">
						<span v-if="showCode">OK, hide it again</span>
						<span v-else title="Show the code to me">I give up</span>
					</label>
				</small>
			</p>
		</template>
	</div>

	<script src="https://unpkg.com/vue@2/dist/vue.min.js"></script>
	<script src="index.js" type="module"></script>

</body>
</html>