<!DOCTYPE html>
<html>
	<title>Emojimind</title>
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">

	<div id="emojimind">
		<header>
			<p>Welcome to Emojimind. Let us attempt to break a secret code of <input type="number" v-model="codeLength" number> symbols. Duplicate symbols are allowed. If you can solve it in maximum <input type="number" v-model="maxGuesses" number> tries, you win.</p>
			<p>After each guess you'll receive from zero to four hints. Hints do not indicate exactly which symbol they represent.</p>
			<p>(X) = correct symbol and position<br>( ) = correct symbol but wrong position</p>
		</header>

		<p><button @click="newGame" v-cloak>{{buttonLabel}}</button></p>

		<template v-if="code.length">
			<p v-show="!showCode" style="min-height: 1.1875em">
				<code>
				<div><span v-for="n in code" transition="stagger" stagger="100">X</span></div>
				</code>
			</p>
			<select-guess v-show="showCode" :guess="code" :symbols="symbols"></select-guess>
		</template>

		<form v-for="row in guesses" class="Row" @submit="tryGuess($index, $event)">
			<select-guess :guess="row.guess" :symbols="symbols" :disabled="row.pins.blacks || row.pins.whites"></select-guess>
			<p v-show="row.pins | isEmptyObject" v-cloak class="Row-action">
			<button type="submit" >Guess</button>
			</p>
			<div v-cloak class="Row-pins">
				<div><span v-for="n in row.pins.blacks" transition="stagger" stagger="100">(X)</span></div>
				<div><span v-for="n in row.pins.whites" transition="stagger" stagger="100">( )</span></div>
			</div>
		</form>

		<template v-if="code.length">
			<p>
			<small>
				<input type="checkbox" id="checkbox" v-model="showCode">
				<label for="checkbox">
					<span v-if="showCode">OK, hide it again</span>
					<span v-else title="Show the code to me">I give up</span>
				</label>
			</small>
			</p>
		</template>
	</div>

	<!-- <script src="https://npmcdn.com/vue/dist/vue.js"></script> -->
	<script src="https://unpkg.com/vue@1.0.28/dist/vue.min.js"></script>
	<script src="bundle.js"></script>

	<script id="__bs_script__">//<![CDATA[
		document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.17.5'><\/script>".replace("HOST", location.hostname));
	//]]></script>
