:root {
	--inputSize: 3.5rem;
}

@font-face {
	font-family: 'ocr-pbi';
	src: url('fonts/ocr-pbi.ttf') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	min-height: 100%;
}

html {
	font-size: 18px;
	font-family: 'ocr-pbi', segoe ui, system-ui, sans-serif;
	line-height: 1.5;
	background-color: hsl(125, 47%, 35%);
	background-image: linear-gradient(
		to bottom,
		hsl(125, 47%, 40%),
		hsl(125, 47%, 35%)
	);
	box-shadow: inset hsl(262, 100%, 55%) 0 0 0 5px,
		inset hsl(262, 93%, 53%) 0 0 0 1px, inset hsl(262, 100%, 66%) 0 0 0 10px,
		inset hsl(262, 91%, 64%) 0 0 0 11px, inset hsl(262, 100%, 77%) 0 0 0 16px,
		inset hsl(262, 87%, 75%) 0 0 0 17px, inset hsl(262, 100%, 89%) 0 0 0 22px;
	color: hsl(34, 78%, 96%);
}

input,
button,
select {
	font-family: inherit;
	font-size: inherit;
}

html,
body {
	min-height: 100vh;
}

body {
	margin: 0;
	display: flex;
}

#emojimind {
	width: 100%;
	max-width: 36rem;
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	/* space for <html> border */
	padding: 2rem 2.5rem;
}

select,
button {
	border: 2px solid hsl(125, 66%, 24%);
	border-width: 1px 3px 3px 1px;
	background: hsl(125, 51%, 32%);
	color: white;
	font-weight: bold;
	letter-spacing: -0.05em;
	text-transform: uppercase;
}

button {
	line-height: 1;
	padding: 0.6em 0.6em 0.5em;
	border-radius: 4px;
}

select {
	width: var(--inputSize);
	height: var(--inputSize);
	border-radius: 50%;
	padding: 0 0 0 1.2em;
}

select:hover,
button:hover {
	background: hsl(125, 51%, 44%);
	border-color: hsl(262, 93%, 53%);
}

select:focus,
button:focus {
	background: hsl(125, 51%, 48%);
}

button.wrong {
	background: red;
}

button.correct {
	background: green;
}

.SelectGuess {
	display: flex;
	list-style: none;
	padding: 0;
}

.SelectGuess > * {
	margin-right: 0.5em;
}

/* Mimic size of the SelectGuess */
.CodeDisplay {
	margin-top: 2rem;
	display: flex;
	height: var(--inputSize);
	align-items: center;
}

.CodeDisplay > * {
	width: var(--inputSize);
	text-align: center;
	margin-right: 0.5rem;
}

.Row {
	display: flex;
	align-items: center;
}

.Row > * {
	margin-top: 0;
	margin-right: 1rem;
}

/* Vue.js specific to avoid flash of content when using conditional templating */
[v-cloak] {
	display: none;
}
