@font-face {
	font-family: 'junction';
	src: url('fonts/junction-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	min-height: 100%;
}

html,
input,
button,
select {
	font-family: 'junction', sans-serif;
	font-size: initial;
}

html {
	font-size: 20px;
	line-height: 1.4;
	line-height: 1.5;

	background-color: hsl(125, 47%, 35%);
	background-image: linear-gradient(to bottom, hsl(125, 47%, 40%), hsl(125, 47%, 35%));
	box-shadow:
		inset hsl(262, 100%, 55%) 0 0 0 5px,
		inset hsl(262, 93%, 53%) 0 0 0 1px,
		inset hsl(262, 100%, 66%) 0 0 0 10px,
		inset hsl(262, 91%, 64%) 0 0 0 11px,
		inset hsl(262, 100%, 77%) 0 0 0 16px,
		inset hsl(262, 87%, 75%) 0 0 0 17px,
		inset hsl(262, 100%, 89%) 0 0 0 22px;
	color: hsl(34, 78%, 96%);
}

html,
body {
	min-height: 100vh;
}

body {
	margin: 0;
	display: flex;
}

#emojimind {
	width: 100%;
	max-width: 36rem;
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	padding: 2rem 2.5rem;
}

#emojimind header {
	max-width: 90%;
}

.Row {
	display: flex;
	align-items: center;
}

.Row > * {
	margin-right: 1rem;
	margin-bottom: 0;
}

.SelectGuess {
	display: flex;
	list-style: none;
	padding: 0;
}

input[type="number"] {
	background-color: transparent;
	color: hsl(34, 78%, 96%);
	width: 2.2em;
}

select,
button {
	line-height: 1;
	padding: 0.6em 0.5em 0.5em;
	border: 2px solid hsla(0, 0%, 0%, 0.8);
	border-width: 1px 3px 3px 1px;
	border-radius: 2px;
	background-color: hsl(34, 75%, 94%);
}

select:focus,
button:focus {
	border-color: orange;
	background-color: hsl(34, 75%, 98%);
}

select {
	margin-right: 2px;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	padding: 0 0 0 1.15em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.CodeDisplay  {
	position: relative;
}
.CodeDisplay > * {
	display: inline-block;
	min-width: 50px;
	text-align: center;
	min-height: 48px;
}

/* Vue.js specific to avoid flash of content when using conditional templating */
[v-cloak] {
	display: none;
}
